* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    color: #424242;
}

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2671&q=80");
    background-size: cover;
    color: aliceblue;

    backface-visibility: hidden;
}

.heading-primary-main {
    animation: moveInRight 1s ease-out;
    letter-spacing: 2px;
}

.heading-primary-sub {
    animation: moveInLeft 1s ease-out;
    letter-spacing: 2px;
}

.attending-date {
    display: inline;
    background-color: #abcfd95d;
    padding: 3px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.attending-event {
    display: inline;
    padding: 3px 5px;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.paper-item {
    font-size: 1 rem;
}

.paper-title {
    font-weight: 500;
    display: block;
}

.paper-author {
    display: block;
}

.paper-venue {
    margin-bottom: 1rem;
    display: block;
}